.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1px;

  position: relative;
  width: 138px;
  height: 42px;
}

.btn--primary {
  color: white;
  background-color: var(--color-primary-purple-01);
}



  .btn--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  .btn--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  .btn--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  .btn--large {
    font-size: 16px;
    padding: 12px 24px;
  }