@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_tokens-css.scss";

@import 'https://fonts.googleapis.com/css2?family=Saira&display=swap';

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Saira', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
